<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREAR</title>
</head>

<body>
    <header>
        <h1>Crear una nueva persona</h1>
        <nav>
            <a href="{{ url_for('index')}}" class="btn">volver al listado</a>
        </nav>
    </header>
    <main>
        <form action="{{ url_for('create') }}" method="POST">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" required><br>
        
            <label for="direccion">Dirección:</label>
            <input type="text" name="direccion" required><br>
        
            <label for="telefono">Teléfono:</label>
            <input type="text" name="telefono" required><br>
        
            <label for="email">Email:</label>
            <input type="email" name="email" required><br>
        
            <button type="submit">Guardar</button>
        </form>
    </main>
</body>

</html>